@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(src/img/mainbg.webp);
}
.flag{
  max-width: 70%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: ani 1.9s forwards;
    
}
.title{
    color:white;
    font-size: xx-large;
    text-align: center;
    opacity: 0;
    animation: ani 0s forwards;
    
}
.join{
    max-width: 90%;
    margin-top: 10%;
    transition: transform .2s;
}
.join:hover{
    transform: scale(1.2)
}













.mainbb{
    transition: transform .2s;
    align-content: center;
    margin-top: 10%;
    margin-bottom: auto;
    border-radius: 10px/20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #151c26;
    max-width: 20%;
    max-height: 100%;
    opacity: 0;
    animation: ani 1.9s forwards;
  }
  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  } 
.mainbb:hover{
    transform: scale(1.1);
}